.header{
    float: right;
    padding-right: 15px;
    font-size: 18px;
}
.nav_item{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    
    border: none;
    outline: none;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);    
    color: white;
    
}
.nav_item:hover{
    background-color:#04AA6D ;
}


.depature_information{
    text-align: center;
    color: black;
}


.fieldset_table{
    background: rgba(0, 0, 0, 0.5); 
    width: 1000px;    
    margin: auto;
}
        

.depature_table{
    font-size: 25px;
    padding: 20px;
    tab-size: 500px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
    
}
.depature_table tr:hover{
    background-color: white;
    color: black;
}
.depature_table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    
}
.depature_table button{
    width: 100%;
    font-size: 20px;
    height: 40px;
    border: none;
    background-color: #04AA6D;
}
