<main>
    <div class="heading">
        <h2>Register Page</h2>
    </div>
    <br>
    <div class="login">
        <img src="/assets/image/login.jfif" alt="user logo" class="logo">
        <form id="login" action="login.html" (ngSubmit)= "register_details()">
            <label>
                <strong>Name</strong>
            </label>
            <br>
            <input type="text" [(ngModel)]="name" name="name" id="name" placeholder="Name">
            <br>
            <br>
            <label>
                <strong>Mobile Number:</strong>
            </label>
            <input type="tel" [(ngModel)]="mobile_number" name="mobile_number" id="mobile" placeholder="Mobile number" pattern="[0-9]{10}">
            <br>
            <br>
            <label>
                <strong>Email ID:</strong>
            </label>
            <input type="email" [(ngModel)]="email" name="email_id" id="email" placeholder="Mail ID">
            <br>
            <br>
            <label>
                <strong>User Name</strong>
            </label>
            <input type="text" [(ngModel)]="user_name" name="username" id="username" placeholder="Username">
            <br>
            <br>
            <label>
                <strong>Password</strong>
            </label>
            <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="Password" minlength="8">
            <br>
            <br>
            <label>
                <strong>Confirm Password</strong>
            </label>
            <input type="password" [(ngModel)]="confirm_password" name="confirm_password" id="confirm" placeholder="Confirm Password"
                minlength="8">
            <br>
            <br>
            <br>
            <input type="submit" name="log" id="log" value="Register Here">
            <br>
            <br>


        </form>
    </div>
</main>
